<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="content">
    <div>
        <form th:action="@{/image/extractTextFromImage}" method="post" enctype="multipart/form-data">
            <input type="file" name="imageFiles" multiple/>
            <button type="submit">upload</button>
        </form>
    </div>
    <div th:if="${ocrResults}">
        <h2>Results of extracting text from images</h2>
        <p th:text="${ocrResults}"></p>
    </div>
</div>
</html>

