<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:href="@{/styles/css/login.css}" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js	" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css	" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js	" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
      <div class="panel border bg-white">
        <div class="panel-heading">
          <h3 class="pt-3 font-weight-bold">Sign Up</h3>
        </div>
        <div class="panel-body p-3">
          <form action="/user/signup" method="POST" th:object="${userCreateForm}">
            <div class="form-group py-1">
              <div class="input-field"><span class="fas fa-user px-2"></span> <input type="text" placeholder="Username" th:field="*{name}" th:minlength="${@environment.getProperty('user.username.minLength')}" th:maxlength="${@environment.getProperty('user.username.maxLength')}" required> </div>
            </div>
            <div class="form-group py-1">
              <div class="input-field"><span class="fas fa-id-card px-2"></span> <input type="text" placeholder="UserID" th:field="*{userID}" th:minlength="${@environment.getProperty('user.userID.minLength')}" th:maxlength="${@environment.getProperty('user.userID.maxLength')}" required> </div>
            </div>
            <div class="form-group py-1">
              <div class="input-field"><span class="fas fa-lock px-2"></span> <input type="password" placeholder="Enter your Password" th:field="*{password1}" th:minlength="${@environment.getProperty('user.password.minLength')}" th:maxlength="${@environment.getProperty('user.password.maxLength')}" required></div>
            </div>
            <div class="form-group py-1">
              <div class="input-field"> <span class="fas fa-lock px-2"></span> <input type="password" placeholder="Check your Password" th:field="*{password2}" th:minlength="${@environment.getProperty('user.password.minLength')}" th:maxlength="${@environment.getProperty('user.password.maxLength')}" required></div>
            </div>
            <div class="form-group py-1">
              <div class="input-field"> <span class="fas fa-envelope px-2"></span> <input type="email" placeholder="Email" th:field="*{email}" required> </div>
            </div>
            <button class="btn btn-primary btn-block mt-3" type="submit">Sign Up</button>
            <div class="text-center pt-4 text-muted">Do you have an account? <a href="/user/login">Sign in</a> </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>